PROJECT_NAME=hr-saas

CI_REGISTRY=registry.gitlab.com
CI_PROJECT_PATH=p2tech/hr.saas

PROJECT_DOMAIN=hr.saas
ENVIRONMENT_NAME=local

PHP_IDE_CONFIG_SERVER_NAME=hr-saas

POSTGRES_HOSTNAME=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

TRAEFIK_ROUTER_PREFIX=hr-saas

NGINX_BASIC_AUTH_ENABLED=off

VITE_PORT=5173
